@{
    ViewData["Title"] = "Finexa";
}

<div style="text-align:center; margin-top:100px;">
    <h1 style="font-size:48px;">Finexa</h1>

    <p style="font-size:20px; margin-top:20px;">
        Clareza financeira para decisões melhores.
    </p>

    <a href="#" 
       style="
           display:inline-block;
           margin-top:40px;
           padding:15px 40px;
           background:#2563eb;
           color:white;
           text-decoration:none;
           border-radius:8px;
           font-size:18px;">
        Começar
    </a>
</div>
